# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Checkpoints and model weights
!models/weights/.gitkeep

# Built graphs
graph_construction/graphs/*
!graph_construction/graphs/.gitkeep

# Logs
logs/*
!logs/.gitkeep

# W&B
wandb/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
